body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.flip-h {
  transform: scaleX(-1);
}

.phrasebox-container {
  margin: 0 auto;
}

.phrasebox {
  text-align: center;
  width: 250px;
  margin-bottom: 15px;
}

.phrasebox .panel-heading {
  height: 4em;
}

.phrasebox .panel-body {
  padding: 10px 10px 0 10px;
}

.phrasebox.panel.panel-danger {
  border-color: #A94442;
}

.phrasebox.panel.panel-warning {
  border-color: #8A6D3B;
}

.phrasebox.panel.panel-success {
  border-color: #3C763D;
}

.phrasebox-title {
  margin-bottom: 10px;
}

.phrasebox .form-group {
  margin-bottom: 10px;
}

input {
  border: 1px solid #d8d8d8;
}

.input-group {
  width: 228px;
}

.input-group-addon {
  width: 38px;
}

input.correct {
  background-color: #a9e6a9;
  border: 1px solid green;
}

.letter {
  margin-right: 5px;
}

.line {
  margin-bottom: 5px;
}
