*.gem
*.iml
*.log*
*.pyc
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*~
.DS_STORE
.grunt
.idea
.module-cache
.vscode
_SpecRunner.html
__benchmarks__
build/
chrome-user-data
coverage/
docs/.bundle
docs/.sass-cache
docs/_site
docs/code
docs/downloads/*.zip
docs/js/*
docs/vendor/bundle
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
node_modules
static
test/the-files-to-test.generated.js
