.timer {
  border: 2px solid black;
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
  padding: 7px 5px 0px;
}

.timer-container {
  text-align: center;
}

.block {
  display: block;
}

.timer.running {
  background-color: #B3F8E4;
}

.timer.stopped {
  background-color: #F8B3B3;
}

.timer.hidden {
  color: rgba(0,0,0,0);
}

.uppercase {
  text-transform: uppercase;
}
