body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.timer-controls button {
  line-height: 1em;
  margin: 0px 2px;
}

.timer {
  border-radius: 3px;
  border: 2px solid;
  box-shadow: 1px 1px 1px black;
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  line-height: 1em;
  margin: 5px 10px;
  padding: 7px 5px 0px;
  width: 148px;
}

.timer.running {
  border-color: #3E8F3E;
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
}

.timer.stopped {
  border-color: #E38D13;
  background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
}

.timer.secret {
  color: rgba(0,0,0,0);
}

.phrasograph {
  margin: 10px;
  text-align: center;
  width: 250px;
}

.phrasograph-title {
  margin-bottom: 10px;
}

input {
  border: 1px solid #d8d8d8;
}

input.correct {
  background-color: #a9e6a9;
  border: 1px solid green;
}

.letter {
  margin-right: 5px;
}

.line {
  margin-bottom: 5px;
}
