body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.phrasograph {
  border-radius: 10px;
  border: 2px solid #186aa9;
  margin: 10px;
  padding: 15px 5px 10px;
  width: 250px;
}

input {
  border: 1px solid #d8d8d8;
}

input.correct {
  background-color: #a9e6a9;
  border: 1px solid green;
}

.inline-block {
  display: inline-block;
}

.title {
  margin-bottom: 10px;
}

.line {
  margin-bottom: 5px;
}

.letter {
  margin-right: 5px;
}
